html, body {
    background-color: #f2f2f2;
}

canvas {
    margin-left: 0px;
    background-color: #49b293;
}

img {
    display: block;
    max-height: 40px;
    max-width: 100%;
    transform: rotateZ(55deg);
}

.main {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    width: auto;
    height: auto;
}

#temp {
    white-space: pre;
}
